<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load staticfiles %}

<html lang="en">
<head>
  <link rel='stylesheet' href = '{% static "style.css" %}'/>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href='{% url 'ratings:movie-top' %}'>Top 20 Movies</a></li>
        <li><a href='{% url 'ratings:most-rated' %}'>Most Rated Movies</a></li>

        {% if user.is_authenticated %}
          <li><a href='{% url 'ratings:rater-detail' rater_id=user.rater.id %}'>Home</a></li>
          <li><a href='{% url 'accounts:logout' %}'>Log Out</a></li>

          <li><form method='get' action='{% url 'ratings:search' %}'>
            {% csrf_token %}
              Search Titles: <input type='text' name='movie_name'/>
            <button type='submit'><span class='glyphicon glyphicon-search'></span></button>
          </form></li>

        {% else %}
          <li><a href='{% url 'accounts:login' %}'>Log In</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>

  <div class="content">
  {% block content %}
  {% endblock %}
  </div>

</body>

</html>
