<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>

<head>

  <title>Ratings App</title>

</head>

<body>
<style> body {background-color: #778899} a {color: #000000} </style>
  <h1> Welcome to the Ratings app! </h1>

  <ul>
    <li><a href='{% url 'ratings:movie-top' %}'>View Top Movies</a></li>
    {% if user.is_authenticated %}
    <li><a href='{% url 'ratings:rater-detail' %}'>Home</a></li>
    <li><a href='{% url 'accounts:logout' %}'>Log Out</a></li>
    {% else %}
    <li><a href='{% url 'accounts:login' %}'>Log In</a></li>
    {% endif %}
  </ul>


</body>

</html>
