<!DOCTYPE html>

{% extends "ratings/detail.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% block content %}
  <h2>{{movie}}</h2>
  <p>
    Genres:
    <table>
      <tr>
      {% for item in movie.genre_set.all %}
        <td><a href='{% url 'ratings:by_genre' item.id %}'>{{item}}</a></td>
      {% endfor %}
      </tr>
    </table>
  </p>

  <p>
    Average rating: {{avg}}
  </p>
  {% if user.is_authenticated %}
  <p>
    {% if rate == 0 %}
    <form method ='get' action='{% url 'ratings:rate' user_id=user.id movie_id=movie.id  %}' class="form">
      {% csrf_token %}
      {% bootstrap_button 'Rate Movie' %}
    </form>
    {% else %}
      <p>
        Your rating for this movie: {{rate.rating}} on {{rate.timestamp}}
      </p>
      Your notes on this rating:
      <p>
        {{ rate.descr }}
      </p>
        {% endif %}
      </p>

  {% endif %}

  All Ratings (User: Rating):
  <ul>
    {% for rating in ratings %}
      <li><a href='{% url 'ratings:rater-detail' rater_id=rating.rater_id %}'>{{rating.rater}}</a>: {{rating.rating}}</li>

    {% endfor %}
  </ul>

{% endblock %}
