<!DOCTYPE html>

{% extends "ratings/detail.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}



{% block content %}
  <div class='container'>
    <h2>{{movie}}</h2>
    <p>
      Genres:
      <table>
        <tr>
        {% for item in movie.genre_set.all %}
          <td><a href='{% url 'ratings:by_genre' item.id %}'>{{item}}</a></td>
        {% endfor %}
        </tr>
      </table>
    </p>

    <p>
      Average rating: {{avg}}
    </p>
    {% if user.is_authenticated %}
    <p>
      {% if not rated %}
      <form method ='get' action='{% url 'ratings:rate' user_id=user.id movie_id=movie.id  %}' class="form">
        {% csrf_token %}
        Your rating for this movie: <button type='submit'><span class='glyphicon glyphicon-plus'></span></button>
      </form>
      {% else %}
        <div class='row'>
          <div class='col-sm-3'>
            Your rating: {{rating.rating}}
          </div>

          <div class='col-sm-9'>
            <form method='post' action='{% url 'ratings:edit' rater_id=user.rater.id movie_id=rating.movie.id %}'>
              {% csrf_token %}
            <a href='{% url 'ratings:movie-detail' movie_id=rating.movie.id %}'></a>
            <button  type='submit'> <span class='glyphicon glyphicon-pencil'></span></button>
            </form>
          </div>

          <div class='col-sm-3'>
            Rated on {{rating.timestamp}}
          </div>
        </div>

          <div class='row'>
          <div class='col-sm-3'>
            Your notes on this rating:
          </div>
          <div class='col-sm-4'>
            {{ rating.description }}
          </div>
        </div>
      {% endif %}
    </p>
  </div>

  {% endif %}
  <div class='well'>
  All Ratings (User: Rating):
  <div class='row'>
    {% for rating in ratings %}

      <div class='container  {% cycle 'odd' 'even' %} col-sm-4'><a class={% cycle 'odd' 'even' %}  href='{% url 'ratings:rater-detail' rater_id=rating.rater_id %}'>{{rating.rater}}</a>: {{rating.rating}}</div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
