<!DOCTYPE html>
{% extends 'ratings/detail.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

  <h1>Top 20 Movies</h1>

  <ol>
    {% for movie in top_movie_list %}
      <li><a href="{% url 'ratings:movie-detail' movie_id=movie.id %}">
          {{movie.title}}</a>  {{movie.rating_avg}}
          {% if user.is_authenticated %}
            {% if rate == 0 %}
              <form action='{% url 'ratings:new' user_id=user.id %}'>
                {% bootstrap_button 'Rate Movie' %}
              </form>
            {% endif %}
          {% endif %}
          </li>
    {% endfor %}
  </ol>

{% endblock %}
