<!DOCTYPE html>

{% extends "ratings/detail.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

    <h2>User {{rater.id}}</h2>
    <p>
      Email: {{email}}
    </p>
    {% if user.is_authenticated and theirs %}
      <form method='post' action= '{% url 'ratings:rater-detail' rater_id=user.rater.id %}'>
        {% csrf_token %}
        <style> .form-control {width:500px}</style>
      {% bootstrap_form form %}
      {% bootstrap_button 'save description' %}
      </form>
    {% else %}
      <p>
        {{rater.description}}
      </p>
    {% endif %}

  <p>Average rating given: {{avg}}</p>

  Movies Rated:
  {% if user.is_authenticated and theirs %}
    <table>
      <tr><th> Rating </th> <th> Movie </th> <th> </th> </tr>
        {% for rating in ratings %}
        <tr>
        <form method='post' action='{% url 'ratings:edit' rater_id=user.rater.id movie_id=rating.movie.id %}'>
          {% csrf_token %}
        <td>{{rating.rating}}  </td>
        <td><a href='{% url 'ratings:movie-detail' movie_id=rating.movie.id %}'>{{rating.movie}}</a></td>
        <td><input type='submit' value='Edit Rating'/></td>
        </form>
        </tr>
      {% endfor %}
    </table>

    <form method='get' action='{% url 'ratings:rate-list' rater_id=user.rater.id %}'>
      {% csrf_token %}
        Movie Title: <input type='text' name='movie_name'/>
      <input type='submit' value='Find Movie to Rate'/></p>
    </form>

    {% else %}

    <table>
      <tr><th> Rating </th> <th> Movie </th> <th></th> </tr>
        {% for rating in ratings %}
        <tr>
        <td>{{rating.rating}}  </td>
        <td><a href='{% url 'ratings:movie-detail' movie_id=rating.movie.id %}'>{{rating.movie}}</a></td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}


  <!--Most Similar Users:
  <table>
       for user in most_similar
      <tr>
      <a href=' url 'ratings:rater-detail' rater_id=user.id '>
          User {{user.id}}</a>
      </tr>

       endfor
  </table> -->
<!---
  Suggested Movies:
  <table>
    {% for movie in suggested %}

      <tr><a href='{% url 'ratings:movie-detail' movie.id %}'>{{movie}}</tr>

   {% endfor %}
  </table>
-->
{% endblock %}
